<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Aldo Matus | Portafolio</title>
</head>

<body>
    <div class="hero">

        <div class="navbar">
            <img src="{% static 'img/logo7.png' %}" class="logo">
            <button type="button" class="send-mail-button">Cntact me</button>
        </div>

        <div class="content">
            <div class="content-1">
                <small>Hello World!</small>
                <h1>I'm Aldo</h1>
                <h2>Python Back-End <br>Developer</h2>
                <button type="button">Download resume</button>
            </div>
            <div class="content-2">
                <img src="{% static 'img/c2.png' %}" alt="Aldo Photo">
            </div>
        </div>
        

        <div class="side-bar">
            <img src="{% static 'img/menu.png' %}" class="menu">

            <div class="social-links">
                <img src="{% static 'img/fb.png'%}" alt="Facebook">
                <img src="{% static 'img/ig.png'%}" alt="Instagram">
                <img src="{% static 'img/tw.png'%}" alt="Twitter">
            </div>

            <div class="useful-links">
                <img src="{% static 'img/share.png'%}" alt="Share">
                <img src="{% static 'img/info.png'%}" alt="Info">
            </div>
        </div>


        <div class="bubbles">
            <img src="{% static 'img/bubble.png'%}">
            <img src="{% static 'img/bubble.png'%}">
            <img src="{% static 'img/bubble.png'%}">
            <img src="{% static 'img/bubble.png'%}">
            <img src="{% static 'img/bubble.png'%}">
            <img src="{% static 'img/bubble.png'%}">
        </div>
    </div>
    
</body>
</html>