{% extends 'base.html'%}

{% load static %}

{% block content%}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">  
        <div class="img-button">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/aldo3.png' %}" alt="">
        <button class="btn" style="vertical-align:middle"><a href="mailto:aldo.matus@outlook.com" ><span style='font-size:20px;'>Email me >> </span></a></button>   
       </div>

        <div class="intro-text left-0 text-center bg-faded p-5 rounded">

          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Hello everyone!</span>
            <span class="section-heading-lower">About me</span><span style='font-size:50px;'>&#128640;</span>
          </h2>
         
          <p class="mb-3">
            I love working with data, extracting it, transforming it, analyzing it, etc. The technologies that I use as a backend developer are mainly Django and Flask along with sql databases such as postgres and mysql, I also like to give my work a good appearance for this I use HTML, CSS3 and Bootstrap.
          </p>

        </div>

      </div>
    </div>
  </section>

  <!-- Technologies -->
  <section class="technologies">
    <h2 align="center">Skill Set <span style='font-size:50px;'>&#128421;</span> </h2>

      <div class="main-icons">
          <!-- Django -->
          <div class="icon-1">
            <a href="https://www.djangoproject.com/" target="_blank" class="brillo"> 
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/django/django-original.svg" alt="django"/>
            </a>
          </div>
          <!-- Flask -->
          <div class="icon-2">
            <a href="https://flask.palletsprojects.com/" target="_blank"> 
              <img src="https://www.vectorlogo.zone/logos/pocoo_flask/pocoo_flask-icon.svg" alt="flask" />
            </a>
          </div> 
          <!-- HTML5 -->
          <div class="icon-3">
            <a href="https://www.w3.org/html/" target="_blank"> 
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" /> 
            </a>
          </div> 
          <!-- css3 -->
          <div class="icon-4">  
            <a href="https://www.w3schools.com/css/" target="_blank"> 
              <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" /> 
            </a>
          </div> 
          <!-- git -->
          <div class="icon-5">
            <a href="https://git-scm.com/" target="_blank"> 
              <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" /> 
            </a>
          </div> 
      </div>

      <div class="secondary-icons">
        <div>
        <a href="https://getbootstrap.com" target="_blank"> 
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="bootstrap" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.cprogramming.com/" target="_blank"> 
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="c" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.linux.org/" target="_blank"> 
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="linux" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.microsoft.com/en-us/sql-server" target="_blank"> 
          <img src="https://cdn.worldvectorlogo.com/logos/microsoft-sql-server.svg" alt="mssql" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.mysql.com/" target="_blank"> 
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.postgresql.org" target="_blank"> 
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.python.org" target="_blank"> 
          <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="40" height="40"/> 
        </a>
        </div>

        <div>
        <a href="https://www.selenium.dev" target="_blank"> 
          <img src="https://raw.githubusercontent.com/detain/svg-logos/780f25886640cef088af994181646db2f6b1a3f8/svg/selenium-logo.svg" alt="selenium" width="40" height="40"/> 
        </a>
        </div>

      </div>
  </section>



  <!-- Social network -->
  <section class="social-media">
    <h2 align="center">Contact me <span style='font-size:50px;'>&#128044;</span> </h2>

      <div class="social-icons">
          <!-- Facebook -->
          <div class="icon-1">
            <a href="https://www.facebook.com/aldo.matusmartinez" >
              <img src="https://img.icons8.com/fluent/240/000000/facebook-new.png"/>
            </a>
          </div>
          <!-- Instagram -->
          <div class="icon-2">
            <a href="https://www.instagram.com/aldomatus1/" target="_blank"> 
              <img src="https://img.icons8.com/fluent/240/000000/instagram-new.png"/>
            </a>
          </div> 
           <!-- Linkedin -->
           <div class="icon-4">  
            <a href="https://www.linkedin.com/in/aldomatus/" target="_blank"> 
              <img src="https://img.icons8.com/fluent/144/000000/linkedin.png"/> 
            </a>
          </div> 
          <!-- git -->
          <div class="icon-5">
            <a href="https://github.com/aldomatus/" target="_blank"> 
              <img src="https://img.icons8.com/fluent/144/000000/github.png"/>
            </a>
          </div> 
          <!-- Twitter -->
          <div class="icon-3">
            <a href="https://twitter.com/Aldo33881899" target="_blank"> 
              <img src="https://img.icons8.com/fluent/240/000000/twitter.png"/> 
            </a>
          </div> 
      </div>
    </section>

    <!-- Projects -->
    <section class="projects-section">
          
      <div class="projects">  
        <h1>Portfolio <span style='font-size:50px;'>&#9875;</span></h1>
        
        <div class="project-1">
          <div class="projects-title-1">
            <h2>Online store<span style='font-size:50px;'> 👜</span></h2>
          </div>  
          <img src="https://i.imgur.com/tnZnFZ0.png" alt="online_store">
          <p>
            This is a store with various sections, in each section we use Django features like forms, classes, the Django ORM with other technologies such as HTML, CSS3 and Bootstrap 
          </p>
          <button class="button" style="vertical-align:middle"><a href="https://github.com/aldomatus/online_store"><span>Read more...</span></a></button>
        </div>

        <div class="project-2">
          <div class="projects-title-1">
            <h2>Portfolio <span style='font-size:50px;'>&#128188; &#128187;</span></h2>
          </div>
            <img src="https://i.imgur.com/tQs18M2.png" alt="portfolio">
            <p>
              Portfolio project works with templates and view functions, has a email system and several CSS3 functions
            </p>
            <button class="button" style="vertical-align:middle"><a href="https://github.com/aldomatus/portfolio"><span>Read more...</span></a></button>
        </div> 
        
        <div class="project-3">
          <div class="projects-title-1">
            <h2>University administrator 🧑‍🎓</h2>
          </div>
          <img src="https://i.imgur.com/tGSpi9O.png" alt="University">
          <p>This project has a sign up system that works with Django's ORM. Also, it functions with a log in and log out system for students' databases and allows emails.  </p>
          <button class="button" style="vertical-align:middle"><a href="https://github.com/aldomatus/university_project"><span>Read more...</span></a></button>
      </div>
    </section>

<!--SLIDER-->
<div class="project-4">

        <div class="w3-container">
          <h2>Matusgram ❤️ </h2>
          <h3>Django's features used<span style='font-size:50px;'>🛠️</span></h3>
        <div class="w3-content w3-display-container">
        
        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/ZDsaHUe.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Customize your profile
          </div>
        </div>
        
        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/fglyRM9.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Sign up system
          </div>
        </div>
        
        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/W9twN6c.png" style="width:100%">
          <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            Login system
          </div>
        </div>
        
        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/DVQA6Mc.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Edit your profile
          </div>
        </div>
        
        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/70X1lvr.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Post your photos
          </div>
        </div>

        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/w62X3lh.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Visit other profiles 
          </div>
        </div>

        <div class="w3-display-container mySlides">
          <img src="https://i.imgur.com/Q4MO80t.png" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
            Feed of the latest publications
          </div>
        </div>
        
        <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
        
        </div>
        
        <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
        </script>
         <div class="list" style="font-size: 2rem;">
              <ul>
                <li>Django's Class-based views</li>
                <li>Djang’s ORM</li>
                <li>Django's validations</li>   
                <li>Django's pagination</li>             
                <li>Django's forms</li>
                <li>Django's administrator</li> 
              </ul>
          </div>
          <p style="font-size: 3rem;"><span style='font-size:50px;'>📷</span> This project pretends to be the instagram social network.<br>
            Features:
            </p>
          <div class="list" style="font-size: 2rem;">
            <ul>
              <li>Signup</li>
              <li>Login</li>
              <li>Logout</li>                
              <li>Upload posts </li>
              <li>Profile edit </li> 
            </ul>
        </div>
        </div>
</div>
    {% endblock %}